.header-border{
	background: #EAEAEA;
	height: 100px;
}
.heading{
	margin-top: 35px;
}
.row{
	margin: 50px 0px 0px 5px;
}
#section-1{
	border-right: 3px #EAEAEA solid;
	height: 750px;
}
#section-2{
	padding-left: 50px;
}
.first-img{
	margin-bottom: 45px;
}

.second-img, .third-img, .fourth-img, .fifth-img{
	height: 120px;
	width: 170px;
	border: 2px #EAEAEA solid;
	float: left;
	margin:30px 12px; 
}
.second-img-section-2,.third-img-section-2,.fourth-img-section-2,.fifth-img-section-2{
	height: 115px;
	width: 170px;
	float: left;
}
.first-video-section-1{
	height: 181px;
	width: 320px;
	float: left;
	border: 2px #EAEAEA solid;
}
.second-video-section-1, .third-video-section-1{
	height: 80px;
	width: 137px;
	margin:2px;
	float: left;
	border: 2px #EAEAEA solid;
	margin:0px 2px;
}
.fourth-video-section-1, .fifth-video-section-1{
	height: 80px;
	width: 137px;
	margin:2px;
	border: 2px #EAEAEA solid;
	float: left;
	margin:0px 2px; 
}
.first-video{
	height: 460px;
	width: 320px;
	float: left;
}
.second-video, .third-video{
	height: 103px;
	width: 137px;
	float: left;
	margin:0px 3px 0px 5px;
	
}
.fourth-video, .fifth-video{
	height: 100px;
	width: 137px;
	float: left;
	margin: 2px;
	margin:0px 3px 0px 5px;
}
